@{
    ViewData["Title"] = "Belt Exam: Bright Ideas - IdeaInfo";
}
<a href="/bright_ideas">Bright Ideas</a>   <a href="/logout">Logout</a>
<h3><a href="/users/@ViewBag.SelectedIdea.Owner.UserId">@ViewBag.SelectedIdea.Owner.UserAlias</a> says:</h3>
<p>@ViewBag.SelectedIdea.UserIdea</p>

<h3>Poeple who have liked this idea:</h3>
<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  @{
    foreach (var like in ViewBag.LikedBy)
    {
      <tr>
        <td><a href="/users/@like.User.UserId">@like.User.UserAlias</a></td>
        <td>@like.User.UserName</td>
      </tr>
    }
  }
  </tbody>
</table>